#Listing {
    width: 100%;
    min-height: 185vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

#Listing form {
    width: 70%;
    max-width: 1000px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#listingtitle {
    font-size: 40px;
    font-weight: 300;
    color: black;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

#Listing .list {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

#Listing .list label {
    font-size: 20px;
    font-weight: 300;
    color: black;
    margin-bottom: 5px;
}

#Listing .list input,
#description {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: black;
    border: 1px solid rgb(71, 71, 70);
    border-radius: 5px;
}

#description {
    min-height: 80px;
    resize: vertical;
}

#addbtn {
    padding: 12px 40px;
    background-color: rgb(247, 8, 8);
    color: white;
    font-size: 18px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

#addbtn svg {
    color: white;
    height: 25px;
    width: 25px;
}

/* 📱 Max Width 900px */
@media (max-width: 900px) {
    #Listing form {
        width: 80%;
    }

    #listingtitle {
        font-size: 32px;
    }
}

/* 📱 Max Width 800px */
@media (max-width: 800px) {
    #Listing form {
        width: 90%;
    }

    #listingtitle {
        font-size: 28px;
    }

    #Listing .list label {
        font-size: 18px;
    }
}

/* 📱 Max Width 500px */
@media (max-width: 500px) {
    #Listing{
    min-height: 145vh;
    }
    #Listing form {
        width: 100%;
    }

    #listingtitle {
        font-size: 24px;
    }

    #Listing .list label {
        font-size: 16px;
    }

    #Listing .list input,
    #description {
        font-size: 14px;
    }

    #addbtn {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }
}